[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Shiv Pande
	email = shiv.pande@salesforce.com
	signingkey = F2171C7455BA56E3
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = fugitive

[alias]
        gpgsign = true
        cp = cherry-pick
        st = status -sb
        ci = commit
        co = checkout
        sw = switch
        re = restore
        br = branch
        dt = difftool
        lg = log --color --left-right --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset'
        lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	qf = !git fixup $@ && !git autosquash
	fixup = commit --fixup HEAD
	autosquash = !GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash HEAD~2
	pr = pull-request
	pushf = push --force-with-lease
        gra = git rebase --abort
        grc = git rebase --continue
#        lg = !"git lg1"
#        rebaseb = rebase -i $(git merge-base master update_jenkinsfile)
        sl = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)\"
[core]
	excludesfile = ~/.gitignore
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[commit]
	verbose = true
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
# [secrets]
# 	providers = git secrets --aws-provider
# 	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
# 	patterns = BEGIN.*PRIVATE KEY
# 	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
# 	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
[init]
	templateDir = ~/.git-templates/git-secrets
[pager]
	branch = false
[rebase]
	autosquash = true
[pull]
	rebase = true
[remote "origin"]
	prune = true
[url "ssh://git@github.com/sfdc-pcg/"]
  insteadOf = https://github.com/sfdc-pcg/
[url "git@git.soma.salesforce.com:sfdc-pcg"]
  insteadOf = https://git.soma.salesforce.com/sfdc-pcg
[url "git@git.soma.salesforce.com:environments-engine"]
  insteadOf = https://git.soma.salesforce.com/environments-engine
[url "git@git.soma.salesforce.com:"]
  insteadOf = https://git.soma.salesforce.com/
[hub]
	host = git.soma.salesforce.com
[merge "ours"]
	driver = false
