[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Shiv Pande
	email = shiv.pande@mulesoft.com
	signingkey = C88C4BCD23157E61
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = fugitive

[alias]
        gpgsign = true
        cp = cherry-pick
        st = status -sb
        ci = commit
        co = checkout
        br = branch
        dt = difftool
        lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
#        lg = !"git lg1"
#        rebaseb = rebase -i $(git merge-base master update_jenkinsfile)
[core]
	excludesfile = ~/.gitignore
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[commit]
	verbose = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templateDir = ~/.git-templates/git-secrets
[pager]
	branch = false
[rebase]
	autosquash = true
