[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Shiv Pande
	email = shivknight@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff

[alias]
        cp = cherry-pick
        st = status -sb
        ci = commit
        co = checkout
        br = branch
        dt = difftool
        lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
